#banner {
<<<<<<< HEAD
  background-image: url(../images/photocouv.jpg);
=======
  background-image: url(../images/pagedegarde.png);
>>>>>>> cd71ab72e655da6be005a76a5a3073d5b9118e7c
  background-size: cover;
  height: 950px;
  padding: 250px 30px;
  margin-top: -60px;
 }

#banner h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
<<<<<<< HEAD
  font-size: 40px;
  font-weight: 400;
  color: white;
  margin-bottom: 25px;
  text-shadow: 0 4px 0 rgb(27, 16, 13);
=======
  font-size: 50px;
  font-weight: 400;
  color: white;
  margin-bottom: 25px;
>>>>>>> cd71ab72e655da6be005a76a5a3073d5b9118e7c
}
#banner h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: white;
<<<<<<< HEAD
}
#banner h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  padding-bottom: 40px;
=======
>>>>>>> cd71ab72e655da6be005a76a5a3073d5b9118e7c
}

#banner p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
<<<<<<< HEAD
  font-size : 20px;
=======
  font-size : 25px;
>>>>>>> cd71ab72e655da6be005a76a5a3073d5b9118e7c
  font-weight: 100;
  color: white;
  text-shadow: 0 2px 0 rgb(8, 8, 8);
}
#mce-EMAIL {
<<<<<<< HEAD
  margin-right: 22px;
  width: 220px;
  margin-top: 30px;
  padding: 5px;
}
#mc-embedded-subscribe {
  background-color: #2871B0;
=======
  margin-right: 16px;
>>>>>>> cd71ab72e655da6be005a76a5a3073d5b9118e7c
}
#align {
  text-align: justify;
}
<<<<<<< HEAD
#img {
  margin-top: 100px;
}
#img1 {
  margin-left: 45px;
}
#reservation {
  padding: 14px 30px;
  font-size: 20px;
}
=======
>>>>>>> cd71ab72e655da6be005a76a5a3073d5b9118e7c

